
<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to the Shed!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>


<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Brand</th>
    <th>Owner</th>
  </tr>
</thead>

<tbody>
  <% @tools.each do |tool| %>
    <% unless tool.isAccessory %>

      <tr class="info">
        <% if tool.accessory.nil? %>
          <td><%= tool.name %></td>
        <% else %>
          <td>
            <a role="button" data-toggle="collapse" href="#<%=tool._id%>accessory_list"><%= tool.name %></a>
          </td>
        <% end %>
        <td><%= tool.kind %></td>
        <td><%= tool.brand %></td>
        <td><%= tool.owner[:f_name] %></td>
      </tr>

      <% unless tool.accessory.nil? %>
          <tr class="collapse" id="<%=tool._id%>accessory_list">
            <td colspan="3">
              <p>Accessories:</p>
              <p><%= tool.accessory[:kind]%> : <%= tool.accessory[:brand] %> : <%= tool.accessory[:name] %>
            </td>
          </tr>
          <tr class="collapse" id="<%=tool._id%>accessory_list">
            <td><%= tool.accessory[:kind]%></td>
            <td><%= tool.accessory[:brand] %></td>
            <td><%= tool.accessory[:name] %></td>
          </tr>
      <% end %>
    <% end %>
  <% end %>
</tbody>
</table>

<br>
