
<% content_for :top_content do %>
      <h1><strong>Your tools, master!</strong></h1>
<% end %>

<div class="row small-up-1 medium-up-2 large-up-4" data-equalizer>
<% @tools.each do |tool| %>
  <% unless tool.has_parent_tool? %> <!-- check to see if this is an accessory of another tool -->

    <div class="column">
      <ul class="toolcard">
        <li class="title" data-equalizer-watch><%= tool.description %></li>
        <% if tool.nickname? %>
          <li class="price"><%= tool.nickname %></li>
        <% end %>
        <li class="description"><span style="text-transform: capitalize;"><%= tool.brand %></span>  |  <%= tool.kind %>  |  Model #: <%= tool.model %></li>
        <li class="bullet-item"><% if tool.pic? %><img src="<%=tool.pic%>" class="thumbnail" alt="Picture of <%=tool.description%>"><%end%></li>
        <div class="bullet-item"><%= tool.borrower.name if tool.has_borrower?  %></div>
        <div class="bullet-item">Purchase Location: <%=tool.purchase_location%></div>
        <div class="bullet-item">Purchase Date:<%= tool.purchase_date %></div>
        <div class="bullet-item">Notes:</div>
        <div class="bullet-item"><%= tool.notes %></div>
    </div>
    <% end %>
  <% end %>
</div>

<!--
//    <% if tool.has_accessories? %>
      <div class="panel-group" id="accordion" aria-multiselectable="true">
        <h5>
//          <a role="button" data-toggle="collapse" href="#<%=tool._id%>accessory_list">Show Accessories</a>
        </h5>
//        <div class="panel-collapse collapse" role="tabpanel" id="<%=tool._id%>accessory_list">
          <div class="panel panel-default">
//            <p><%= tool.accessories[0].description %> : <%= tool.accessories[0].brand %> : <%= tool.accessories[0].kind %>
          </div>
        </div>
      </div>
//    <% end %>

//  <% end %>

-->
