
<% content_for :top_content do %>
      <h1><strong>Your tools, master!</strong></h1>
<% end %>
<br><br>
<div class="row small-up-1 medium-up-2 large-up-4" data-equalizer>
<% @tools.each do |tool| %>
  <% unless tool.has_parent_tool? %> <!-- check to see if this is an accessory of another tool -->

    <div class="column">
      <ul class="toolcard radius">
        <div class="sign">
          <h1><%= tool.kind %></h1>
        </div>
        <li class="title" data-equalizer-watch>
          <%= tool.description %>
          <% if tool.has_accessories? %><span class="badge has-tip right" data-tooltip data-disable-hover="false" tabindex="3" title="This tool has accessories.">A</span><%end%>
        </li>
        <% if tool.nickname? %>
          <li class="price"><%= tool.nickname %></li>
        <% end %>
        <li class="description"><span style="text-transform: uppercase;"><%= tool.brand %></span>  ::  Model #: <%= tool.model %></li>
        <li class="bullet-item"><% if tool.pic? %><img src="<%=tool.pic%>" class="thumbnail" alt="Picture of <%=tool.description%>"><%end%></li>
        <li class="bullet-item"><%= tool.borrower.name if tool.has_borrower?  %></li>
      </ul>
    </div>
    <% end %>

    <% if tool.has_accessories? %>
      <% tool.accessories.each do |accessory| %>
        <div class="column">
          <ul class="toolcard radius">
            <div class="sign">
              <h1><%= accessory.kind %></h1>
            </div>
            <li class="title" data-equalizer-watch>
              <%= accessory.description %>
              <span class="badge has-tip right" data-tooltip data-disable-hover="false" tabindex="3" title="This tool is an accessory.">a</span>
            </li>
            <% if accessory.nickname? %>
              <li class="price">
                <%= accessory.nickname %>
              </li>
            <% end %>
            <li class="description"><span style="text-transform: uppercase;"><%= accessory.brand %></span>  ::  Model #: <%= accessory.model %></li>
            <li class="bullet-item"><% if accessory.pic? %><img src="<%=accessory.pic%>" class="thumbnail" alt="Picture of <%=accessory.description%>"><%end%></li>
            <li class="bullet-item"><%= accessory.borrower.name if accessory.has_borrower?  %></li>
          </ul>
        </div>
      <% end %>
    <% end %>

<% end %>
</div>
