<div class="row">
  <div class="small-5 columns">
    <h3>New Users</h3>
    <h4>Register to get started</h4>
    <p>
      <%= link_to 'Register', new_user_registration_path, class: 'button' %>
    </p><br /><br />
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h3>Existing Users</h3>
    <h4>Log In</h4>


    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", :class => 'button' %>
      </div>
    <% end %>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
          <span class="fb-button">&#xf1c4;</span>
        <% end %>
      <% end -%>
    <% end -%>
  </div>
</div>

<br>
<%= render "devise/shared/links" %>
